<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Library Management System</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="homeLink"><a href="/">Home</a></li>
            <li id="addBookLink"><a href="/book/add-book">Add Book</a></li>
            <li id="showBooksLink"><a href="/book/show-books">Show All Books</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var path = window.location.pathname;

        // Remove active class from all links
        document.querySelectorAll('.nav navbar-nav a').forEach(function(link) {
            link.parentElement.classList.remove('active');
        });

        // Add active class to the link corresponding to the current page
        if (path === '/') {
            document.getElementById('homeLink').classList.add('active');
        } else if (path === '/book/add-book') {
            document.getElementById('addBookLink').classList.add('active');
        } else if (path === '/book/show-books') {
            document.getElementById('showBooksLink').classList.add('active');
        }
    });
</script>
