<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Books</title>
</head>
<body>
<h1>Search Books</h1>
<form action="/book/search" method="GET">
    <div class="form-group">
        <label for="search_query">Search:</label>
        <input type="text" name="query" class="form-control" id="search_query">
    </div>
    <button type="submit" class="btn btn-default btn-primary">Search</button>
</form>
</body>
</html>
